body {
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 560px;
  text-align: center;
}

h1 {
  margin: 0; 
  margin-bottom: 2.5rem; 
  margin-top: 2.5rem;
  font-size: 40px;
}

.inputsBlock {
  display: flex;
  padding: 0 30px;
  justify-content: center;
}

.equals {
  font-weight: bold;
  font-size: 2rem; 
  padding: 0 30px;
}

@media (max-width: 768px) {
  .inputsBlock {
    flex-direction: column;
  }
}